<div class="nested-fields">
    <p>
        <%= f.label :name, 'Інгредієнт' %>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :quantity, 'Кількість' %>
        <%= f.text_field :quantity %>
    </p>

    <p>
        <%= link_to 'Видалити', '#', class: 'remove_fields' %>
    </p>
</div>
  