<!DOCTYPE html>
<html>
  <head>
    <title>Cooking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'cocoon' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css">
  </head>

  <body>
    <%= render 'shared/flash' %>
    <%= render 'shared/header' %>
    <% if controller.controller_name == 'main' %>
      <%= yield %>
    <% else %>
    <%= render 'shared/breadcrumbs' %>
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    <% end %>
  </body>
</html>
